<a href="https://colab.research.google.com/github/petercloud23/Equipe_DataScience_SENAI_Out25/blob/main/Untitled.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
texto= 2
texto1= int(2);
texto2= 2.7

In [ ]:
print(type(texto))

In [ ]:
print(texto)
print(texto1)
print(texto+texto1)

In [ ]:
numero= 3
numero1= int(3)
numero2= float(3)
numero3= 3.0

print(numero)
print(numero1)
print(numero2)
print(numero3)

In [ ]:
a=float(input("Digite o Primeiro número: "))
b=float(input("Digite o segundo número: "))
c=a+b
print(c)
print(f"O resultado da soma de {a} e {b} é = {c}")
print("O resultado da soma de {} e {} é = {}".format(a,b,c))
print("O resultado da soma de %f e %f é = %f" %(a,b,c))
print("O resultado de "+ a + "e" + b + "é =" + c)

In [ ]:
print("Meu", "nome", "é=", sep="_",end="")
print("Monty", "Python.", sep="*", end="Ola")

In [ ]:
print("Meu", "nome", "é \n", sep="_", end="=")
print("Monty", "Python.", sep="*", end="*")

In [ ]:
x = 3
x = x * 2
print(x)

In [ ]:
sheep = 2
sheep = sheep = 1
print(sheep)

In [ ]:
x *= 2
sheep += 1
print(x)
print(sheep)

In [ ]:
a= int(input("Digite o valor de a:"))
b= int(input("Digite o valor de b:"))
a,b = b,a
print("O novo valor de a é:",a)
print("O novo valor de b é:",b)


#Outra maneira de resolver tem em outras linguagens de programação
#c=a
#a=b
#b=c

In [ ]:
valor_uni = float (input("Informe o valor unitário: "))
quantidade = int(input("Informe a quantidade de produtos: "))
total= valor_uni * quantidade
total_round = round(total,2)
print("O valor inteiro da compra é :", total_round)

In [ ]:
print ("HELLO")
a = int(input("Insira numero: "))
b = a**a
print("O valor ao quadrado é: ",b)

In [ ]:
import math

numero1= int(input("Informe um número inteiro: "))
quadrado1= math.pow(numero1,2) #onde mat.pow(base, expoente)
print("O quadrado do número informado é: ",quadrado1)

In [ ]:
print (pow(27,1/3))

In [ ]:
print("HELLO AGAIN")
firt = input("Pressione qualquer letra ou número: ")
two = input("Novamente: ")
print(f"O usuario digitou: {firt} e {two}")

In [ ]:
print("YOU AGAIN!")
numb = int(input("Digite um número: "))
ant_num = numb-1
pos_numb = numb+1
print(f"Número anterior: {ant_num} o número posterior {pos_numb}")

In [ ]:
base = float(input("Insira o número base do quadrado: "))
altura = float(input("Insira o número da altura do quadrado: "))
perimetro = 2 * (base+altura)
area = base * altura
print(f"O perimetro do retangulo é: {perimetro}")
print("A área do retangulo é: %f" %{area})

In [ ]:
valor = float(input("Informe o valor da parcela: "))

In [4]:
#Exercício
n1 = float(input("Digite a nota 1: "))
n2 = float(input("Digite a nota 2: "))
n3 = float(input("Digite a nota 3: "))

media = (n1 + n2 + n3) /3

print(f"A sua nota é: {media:.2f}")

Digite a nota 1: 5.5
Digite a nota 2: 6
Digite a nota 3: 9.5
A sua nota é: 7.00